@import 'variables';

:host {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  label {
    cursor: pointer;
    font-size: var(--font-size-large);
    color: var(--text-color-secondary);
    @media screen and (max-width: $breakpoint-tablet) {
      font-size: var(--font-size-medium);
    }
  }
}
