<div class="c-multiSelectList__checkboxWrapper">
  <input
    (click)="onClick()"
    type="checkbox"
    id="c-multiSelectList__selectAllCheckbox"
    data-ref="c-multiSelectList__selectAllCheckbox"
    [checked]="(service.selectAllCheckboxState$ | async).value === 'checked'"
    [indeterminate]="
      (service.selectAllCheckboxState$ | async).value === 'indeterminate'
    "
    [disabled]="(service.selectAllCheckboxState$ | async).disabled === true"
    aria-labelledby="c-multiSelectList__selectAllCheckboxLabel"
    aria-describedby="c-multiSelectList__selectAllCheckboxDescription"
    [attr.aria-checked]="ariaSelectAllCheckboxValue$ | async"
  />
</div>
<label
  for="c-multiSelectList__selectAllCheckbox"
  id="c-multiSelectList__selectAllCheckboxLabel"
  data-ref="c-multiSelectList__selectAllCheckboxLabel"
>
  Selected {{ service.selectedItemsCount$ | async }}
</label>
<span
  id="c-multiSelectList__selectAllCheckboxDescription"
  data-ref="c-multiSelectList__selectAllCheckboxDescription"
  class="c-screenReaderOnly"
>
  Toggles all available checkboxes. Currently
  {{ service.selectedItemsCount$ | async }} of
  {{ service.enabledItemsCount$ | async }} selectable items are selected.
</span>
