<ul class="c-multiSelectList__list">
  <li
    *ngIf="headerTemplate"
    class="c-multiSelectListRow--header"
    data-ref="c-multiSelectListRow--header"
  >
    <!-- Empty 'checkboxWrapper' used to maintain column alignment  -->
    <div class="c-multiSelectList__checkboxWrapper"></div>
    <ng-container [ngTemplateOutlet]="headerTemplate"></ng-container>
  </li>
  <li
    *ngFor="let item of service.items$ | async; trackBy: trackByItem"
    [ngClass]="{
      'c-multiSelectListRow--item': true,
      'c-multiSelectListRow--selected': (service.selectedItems$ | async)?.has(
        item
      )
    }"
    data-ref="c-multiSelectListRow--item"
  >
    <div
      class="c-multiSelectList__checkboxWrapper"
      data-ref="c-multiSelectList__checkboxWrapper"
    >
      <input
        type="checkbox"
        (click)="service.toggleItemSelection(item)"
        [checked]="(service.selectedItems$ | async)?.has(item)"
        [disabled]="service.itemDisabledFn(item)"
        [id]="'c-multiSelectListRowCheckbox--' + item[itemUniqueIdKey]"
        [attr.aria-checked]="
          (service.selectedItems$ | async)?.has(item) ? 'true' : 'false'
        "
        [attr.aria-labelledby]="
          'c-multiSelectListRowCheckboxLabel--' + item[itemUniqueIdKey]
        "
      />
      <label
        class="c-screenReaderOnly"
        [for]="'c-multiSelectListRowCheckbox--' + item[itemUniqueIdKey]"
        [id]="'c-multiSelectListRowCheckboxLabel--' + item[itemUniqueIdKey]"
      >
        Item with {{ itemUniqueIdKey }} of {{ item[itemUniqueIdKey] }} is
        {{
          (service.selectedItems$ | async)?.has(item)
            ? 'selected'
            : 'not selected'
        }}
      </label>
    </div>
    <ng-container
      [ngTemplateOutlet]="itemTemplate"
      [ngTemplateOutletContext]="{ item: item }"
    ></ng-container>
  </li>
</ul>
