@import 'variables';

:host {
  .c-multiSelectList__list {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }

  [class*='c-multiSelectListRow'] {
    display: flex;
    align-items: flex-start;
    transition: background-color 0.1s var(--transition-timing);
    padding: 0.75em 1rem 0.75rem 0;
    border-top: 1px solid var(--border-color-primary);

    &:last-of-type {
      border-bottom: 1px solid var(--border-color-primary);
    }

    &.c-multiSelectListRow--item {
      &:hover {
        background-color: var(--bg-color-hover);
      }
      &.c-multiSelectListRow--selected {
        background-color: var(--bg-color-selected);
        &:hover {
          background-color: var(--bg-color-selected-hover);
        }
      }
    }
  }
}
