$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;

:root {
  --text-color-primary: #232323;
  --text-color-secondary: #525252;
  --bg-color-hover: #f5f5f5;
  --bg-color-selected: #eee;
  --bg-color-selected-hover: #e2e2e2;
  --border-color-primary: #c3c3c3;
  --font-size-xsmall: 0.825rem;
  --font-size-small: 1rem;
  --font-size-medium: 1.2rem;
  --font-size-large: 1.6rem;
  --transition-timing: cubic-bezier(0.23, 1, 0.32, 1);
}
