<div class="c-multiSelectList__actions" role="toolbar">
  <div
    class="c-multiSelectListActions__actionWrapper--selectAll"
    data-ref="c-multiSelectListActions__actionWrapper--selectAll"
  >
    <c-multiSelectList__selectAllCheckbox></c-multiSelectList__selectAllCheckbox>
  </div>
  <div class="c-multiSelectListActions__actionWrapper--downloadButton">
    <c-downloadButton
      [files]="service.selectedItems$ | async | cast: 'Set<File>'"
    >
      ></c-downloadButton
    >
  </div>
</div>
