@import 'variables';

:host {
  .c-multiSelectList__actions {
    display: flex;
    flex-flow: row nowrap;
    gap: 2rem;
    padding: 0.75rem 0;

    @media screen and (max-width: $breakpoint-tablet) {
      gap: 1.5rem;
    }

    @media screen and (max-width: $breakpoint-mobile) {
      flex-direction: column;
      align-items: flex-start;
      gap: 0;
      padding: 0;

      [class*='c-multiSelectListActions__actionWrapper'] {
        padding: 1rem 0;
        display: flex;

        &:last-child {
          order: -1;
          background-color: var(--bg-color-selected);
          padding: 1.5rem;
          width: 100%;
          justify-content: center;
        }
      }
    }
  }
}
