@import './stylesheets/_mixins.scss';
@import './stylesheets/_variables.scss';

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color-primary);
  margin: 0;

  ul {
    margin: 0;
    padding: 0;
  }

  .c-screenReaderOnly {
    @include c-screenReaderOnly;
  }
}
