<ng-container *ngIf="status">
  <div
    class="c-fileStatusIndicator__dot"
    [ngClass]="dotColor ? 'c-fileStatusIndicator__dot--' + dotColor : ''"
    data-ref="c-fileStatusIndicator__dot"
  ></div>
  <span
    class="c-fileStatusIndicator__name"
    data-ref="c-fileStatusIndicator__name"
  >
    <ng-container [ngSwitch]="status">
      <ng-container *ngSwitchCase="'available'">Available</ng-container>
      <ng-container *ngSwitchCase="'scheduled'">Scheduled</ng-container>
    </ng-container>
  </span>
</ng-container>
