@import 'variables';

:host {
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;

  .c-fileStatusIndicator__dot {
    display: block;
    width: 1rem;
    min-width: 1rem;
    height: 1rem;
    border-radius: 50%;

    &.c-fileStatusIndicator__dot--green {
      background-color: limegreen;
    }
  }
}
