<button
  (click)="onClick()"
  [disabled]="files.size === 0"
  [attr.aria-disabled]="files.size === 0"
  [ngClass]="{ 'c-downloadButton--disabled': files.size === 0 }"
  aria-labelledby="c-downloadButtonLabel"
>
  <svg
    alt="Download Selected"
    fill="#4f4f4f"
    width="32px"
    height="32px"
    viewBox="0 0 24 24"
    xmlns="http://www.w3.org/2000/svg"
    stroke="#4f4f4f"
    stroke-width="0.00024000000000000003"
  >
    <g stroke-width="0" />
    <g
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke="#CCCCCC"
      stroke-width="0.8640000000000001"
    />
    <g>
      <path
        d="M7.293,13.707a1,1,0,1,1,1.414-1.414L11,14.586V3a1,1,0,0,1,2,0V14.586l2.293-2.293a1,1,0,0,1,1.414,1.414l-4,4a1,1,0,0,1-.325.216.986.986,0,0,1-.764,0,1,1,0,0,1-.325-.216ZM22,12a1,1,0,0,0-1,1v7H3V13a1,1,0,0,0-2,0v8a1,1,0,0,0,1,1H22a1,1,0,0,0,1-1V13A1,1,0,0,0,22,12Z"
      />
    </g>
  </svg>

  <span id="c-downloadButtonLabel">Download Selected</span>
</button>
