@import 'variables';

:host {
  button {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    gap: 0.5rem;
    border: none;
    background-color: transparent;
    transition: opacity 0.3s var(--transition-timing);
    &:hover {
      background-color: transparent;
    }

    &:not(.c-downloadButton--disabled) {
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
    }

    &.c-downloadButton--disabled {
      cursor: not-allowed;
    }

    span {
      font-size: var(--font-size-large);
      color: var(--text-color-secondary);
      white-space: nowrap;

      @media screen and (max-width: $breakpoint-tablet) {
        font-size: var(--font-size-medium);
      }
    }

    svg {
      height: 1.8rem;
      width: 1.8rem;
      stroke: var(--text-color-secondary);
      fill: var(--text-color-secondary);

      @media screen and (max-width: $breakpoint-tablet) {
        height: 1.25rem;
        width: 1.25rem;
        min-height: 1.25rem;
        min-width: 1.25rem;
      }
    }
  }
}
