@import 'variables';
@import 'mixins';

$breakpoint-wrap: 580px;

:host {
  .c-deviceFilesList__templateGroup {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr;
    flex-grow: 1;
    gap: 0.5rem;

    &.c-deviceFilesList__templateGroup--header {
      .c-deviceFilesListCell__status {
        width: 6rem;
        min-width: 6rem;
      }
      .c-deviceFilesListCell__header--wrapped {
        display: none;
      }
      @media screen and (max-width: $breakpoint-wrap) {
        gap: 0;
        h3:not(.c-deviceFilesListCell__header--wrapped) {
          @include c-screenReaderOnly;
        }
        .c-deviceFilesListCell__header--wrapped {
          display: inline;
        }
      }
      h3 {
        margin: 0;
        color: var(--text-color-secondary);
        font-size: var(--font-size-medium);
        font-weight: normal;
      }
      .c-deviceFilesListCell__status {
        padding-left: 1.5rem;
      }
    }

    @media screen and (max-width: $breakpoint-wrap) {
      grid-template-columns: 3fr 1fr;
      grid-template-rows: auto auto auto;

      .c-deviceFilesListCell__name {
        grid-column: 1;
        grid-row: 1;
        font-weight: bold;
      }

      .c-deviceFilesListCell__status {
        grid-column: 2;
        grid-row: 1;
        justify-content: flex-end;
        color: var(--text-color-secondary);
      }

      .c-deviceFilesListCell__device {
        grid-column: 1 / -1;
        grid-row: 2;
        color: var(--text-color-secondary);
        font-weight: medium;
      }

      .c-deviceFilesListCell__path {
        grid-column: 1 / -1;
        grid-row: 3;
        color: var(--text-color-secondary);
      }
    }

    @media screen and (max-width: $breakpoint-mobile) {
      .c-deviceFilesListCell__status {
        font-size: var(--font-size-xsmall);
      }

      .c-deviceFilesListCell__path {
        font-size: var(--font-size-xsmall);
      }
    }

    > span,
    > h3 {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      transition: font-size 0.3s var(--transition-timing);
    }
  }
}
