<c-multiSelectList
  *ngIf="service.deviceFiles$ | async"
  [headerTemplate]="headerTemplate"
  [itemTemplate]="itemTemplate"
  [items]="service.deviceFiles$ | async"
  [itemDisabledFn]="itemDisabledFn"
  [itemUniqueIdKey]="'path'"
>
</c-multiSelectList>

<ng-template #headerTemplate>
  <div
    class="c-deviceFilesList__templateGroup c-deviceFilesList__templateGroup--header"
  >
    <h3
      class="c-deviceFilesListCell__name"
      id="c-deviceFilesListCell__nameLabel"
    >
      Name
    </h3>
    <h3
      class="c-deviceFilesListCell__device"
      id="c-deviceFilesListCell__deviceLabel"
    >
      Device
    </h3>
    <h3
      class="c-deviceFilesListCell__path"
      id="c-deviceFilesListCell__pathLabel"
    >
      Path
    </h3>
    <h3
      class="c-deviceFilesListCell__status"
      id="c-deviceFilesListCell__statusLabel"
    >
      Status
    </h3>
    <!-- This is the header on small screens -->
    <h3 class="c-deviceFilesListCell__header--wrapped">Device Files</h3>
  </div>
</ng-template>
<ng-template #itemTemplate let-item="item">
  <div class="c-deviceFilesList__templateGroup">
    <span
      class="c-deviceFilesListCell__name"
      aria-labelledby="c-deviceFilesListCell__nameLabel"
      >{{ item.name }}</span
    >
    <span
      class="c-deviceFilesListCell__device"
      aria-labelledby="c-deviceFilesListCell__deviceLabel"
      >{{ item.device }}</span
    >
    <span
      class="c-deviceFilesListCell__path"
      aria-labelledby="c-deviceFilesListCell__deviceLabel"
      title="[item?.path]"
      >{{ item.path }}</span
    >
    <c-fileStatusIndicator
      class="c-deviceFilesListCell__status"
      [status]="item.status"
      aria-labelledby="c-deviceFilesListCell__statusLabel"
    ></c-fileStatusIndicator>
  </div>
</ng-template>
